@using ApprenticeAspNetMvc.Web.Models
@model IEnumerable<User>

@{
    ViewData["Title"] = "Users Page";
}

<h4>Users</h4>
    <hr/>
    <table style="width:100%">
        <tr>
            <th>Title</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>City</th>
            <th>Country</th>
            <th>Email</th>
            <th>Username</th>

        </tr>
        @foreach (User user in Model)
        {
            <tr>
                <td>@user.Title</td>

                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>@user.City</td>
                <td>@user.Country</td>
                <td>@user.Email</td>
                <td>@user.UserName</td>

                
            </tr>
        }
    </table>